*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*-------------navbar--------------*/
.navbar img{
    width: 200px;
}
.navbar{
    padding: 0 0;
	background-color: white;
	box-shadow: 0 4px 12px 0 rgb(38 39 39 / 8%);
    background: #fff;
  }
.navbar-nav .nav-item a {
    font-size: .875rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #262727;
}
/*-------------banner--------------*/
.banner-img{
    height: 100vh;
    background-image: url(../images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*-------------message--------------*/
.message-sec{
	border-radius: 20px;
	background-image: linear-gradient(to right top, #060a0d, #090d11, #0d1015, #101217, #14141a);	color: white;
	margin-top: -200px;
	padding: 50px 30px;
}
.message-sec p{
    font-size: 16px;
    line-height: 1.6em;
}
.message-sec h5{
	color: white;
	font-size: 24px;
}
.message-sec img{
	max-width: 230px;
	border-radius: 20px;
}
.message-sec a{
	cursor: pointer;
}
/*-------------Board of Members--------------*/
.board-member .row>div>div{
    max-width: 250px;
    margin: auto;
}

/*------------crousel-media-gallery------------*/
.media-gallery{
        background-image: linear-gradient(to right top, #060a0d, #090d11, #0d1015, #101217, #14141a);   color: white;
        padding: 30px 0;
}
.media-gallery  a{
    cursor: pointer;
}
.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px; }
  .owl-2-style .owl-dots .owl-dot {
    display: inline-block; }
.owl-2-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 15px;
      height: 3px;
      border-radius: 0px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px; }
.owl-2-style .owl-dots .owl-dot.active span {
      background: #007bff; }
.owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
      outline: none; }
.owl-carousel .owl-nav .owl-prev{
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(50%);
      }
.owl-carousel .owl-nav .owl-next{
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(50%);
      }
.owl-carousel .owl-nav span{
        font-size: 25px;
    }
    /*------------crousel-Webinars------------*/

.webinars{
    padding: 30px 0;
}
/*------------contact-us------------*/
.contact-us{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)), url(../images/contact-us.jpg);
    background-size: cover;
}
.contact-us form{
    padding: 40px 30px;
    background-color: white;
}
.contact-us form input{
    padding: 28px 0; 
}
.contact-us form input[type="text"]+label{
    margin-top: -30px;
    display: block;
    text-align: left;
    margin-left: 10px;
    pointer-events: none;
}
.contact-us form input[type="text"]+label:before{
    content: attr(placeholder);
    color: gray;
    display: inline-block;
}
.contact-us form input[type="text"]:focus+label:before{
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: all .3s ease-in-out;
    transform: translate(0,-1.5em) scale(1);
}
/*------------footer------------*/
footer.page-footer a {
    color: black !important;
}
.page-footer .footer-copyright{
    background-color: black;
}
.page-footer img{
    width: 200px;
}
.page-footer .fa{
    font-size: 25px;
    padding: 10px 5px;
    cursor: pointer;
}






/*------------------media-------------------*/
@media(max-width: 768px){
.message-sec{
	border-radius: 20px;
	margin-top: -130px;
	padding: 30px 15px;
}
.message-sec p{
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
    padding: 0 10px;
}
.board-member img{
    margin: 30px 0;
}
}
@media(max-width: 567px){
.message-sec{
	border-radius: 20px;
	margin-top: -100px;
	padding: 20px 10px;
}
.message-sec p{
    font-size: 15px;
    line-height: 1.6em;
}
.message-sec{
	border-radius: 0;
    padding: 10px 15px;
}
.board-member img{
    margin: 30px 0;
}
.media-gallery h1{
    padding: 20px 0;
}


}
